<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-9">
    <%= simple_form_for [@link, @comment] do |f| %>
      <%= f.input :body, label: 'please leave a comment about this link' %>
      <%= f.button :submit %>
    <% end %>
    <br>
    <h5>see past comments below</h5>
  </div>
</div>
