/*styling for header*/

header {
  background-color: #cee3f8;
}

.navbar {
  background-color: #f0f0f0;
  min-height: 20px;
  margin-bottom: 0px;
}

h2 {
  margin-bottom: 0px;
}

a:hover {
  text-decoration: none;
}

/*styling for links and counters*/

.row {
  margin-bottom: 10px;
}

.row-links .col-md-2 {
  text-align: center;
}

h5 {
  color: #b6b6b6;
  font-weight: bolder;
  margin-top: 0px;
  margin-bottom: 0px;
}

h4 {
  font-size: 16px;
  margin-top: 0px;
  font-weight: normal;
}
