<h4>login</h4>

<%= simple_form_for :session do |f| %>
  <%= f.input :email, label: 'email', error: 'a valid email address is mandatory' %>
  <%= f.input :password, label: 'password', error: 'a password is mandatory' %>
  <%= f.button :submit, "submit", class: "btn btn-default" %>
<% end %>
